{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block header %}
    <h3>Please sign in</h3>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div style="width:40%; display: inline-block; margin: 15px 30%;">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputUsername" class="">Username</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                                   placeholder="Username" required autofocus style="width:100%">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputPassword" class="">Password</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="password" name="password" id="inputPassword"
                                   style="width:100%"
                                   placeholder="Password"
                                   required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <button class="btn btn-secondary btn-block" type="submit">
                                Sign in
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
