{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


    {{ form_start(form) }}
    {{ form_row(form.title) }
    {{ form_row(form.body, { 'attr': {
        'rows' : '10',
        'class' : 'form-control',
        'placeholder' : 'Description',
        'cols' : '10' }}) }}
    < button type="submit">Сохранить< /button>
    {{ form_end(form) }}